@mixin decoration {
    position: absolute;
    z-index: -1;
    opacity: 0.15;
    .cls-1 {
        fill: $cta-color;
    }
}
.decoration__n {
    @include decoration;
    top: 0;
    right: 0;
}
.decoration__r {
    @include decoration;
    left: 0;
    top: 50rem;
}

.title__content {
    svg {
        .cls-1 {
            fill: $cta-color;
        }
    }
}
