/*

Editor Stylesheet : Wordpress Administration style

*/

.wp-block {
    @include wrapper;
 }
 /* Width of "wide" blocks */
 
 .wp-block[data-align="wide"] {
    //max-width: pixel(1300);
 }
 /* Width of "full-wide" blocks */
 
 .wp-block[data-align="full"] {
    //max-width: none;
 }