/* Font Face Rules 

 Fonts used :
 
 01 - Hind : Open Source Fonts [@source : https://fonts.google.com/specimen/Hind?query=hind]
 */

/* Variable Fonts */
@font-face {
     font-family: "Prompt";
     font-display: swap;
     font-style: normal;
     font-named-instance: "Regular";
     src: url("./font/Prompt.ttf") format("truetype");
}
@font-face {
     font-family: "Hind R";
     font-display: swap;
     font-style: normal;
     font-named-instance: "Regular";
     src: url("./font/Hind-Regular.woff2") format("woff2");
}
@font-face {
     font-family: "Hind B";
     font-display: swap;
     font-style: normal;
     font-named-instance: "Regular";
     src: url("./font/Hind-SemiBold.woff2") format("woff2");
}
@font-face {
     font-family: "Hind M";
     font-display: swap;
     font-style: normal;
     font-named-instance: "Regular";
     src: url("./font/Hind-Medium.woff2") format("woff2");
}

@font-face {
     font-family: "Merri R";
     font-display: swap;
     font-style: normal;
     font-named-instance: "Regular";
     src: url("./font/Merriweather-Regular.woff2") format("woff2");
}
// @font-face {
//      font-family: "Merri B";
//      font-display: swap;
//      font-style: normal;
//      font-named-instance: "Regular";
//      src: url("./font/Merriweather-Bold.woff2") format("woff2");
// }

/* Fallback Fonts */
