//colors
$white: #fff;
$gray-light: #f3f5f7;
$gray-medium: rgb(128, 128, 128);
$gray-dark: #5e6871;
$black: #000;
$txt-primary: #484147;
$cta-txt: #232323;
$cta-color: #f0a6ff;
$bg-color: #fdf5ff;
$color-primary: #1c72f2;
$color-secondary: #f2994a;

$default-text-color: $black;

// Breakpoints
$tiny_width: pixel(400);
$mobile_width: pixel(680);
$tablet_width: pixel(1080);
$desktop_width: pixel(1300);

$narrow-wrapper: 60rem;
$wrapper: 60rem;

// Universal grid-gap
$grid-row-gap: (
  $tiny_width: 1.5rem,
  $mobile_width: 1.75rem,
  $tablet_width: 2rem,
  $desktop_width: 2.5rem,
);

$grid-column-gap: (
  $tiny_width: 2rem,
  $mobile_width: 2.25rem,
  $tablet_width: 2.5rem,
  $desktop_width: 3rem,
);

// Text line-height
$lh-small: 1.2;
$lh-standard: 1.5;
$lh-big: 2;

//z-index
$index-accessibility: 1000;
$index-modal: 400;
$index-navigation: 300;
$index-dropdown: 200;
$index-overlay: 100;

//Text
$h2-title: 3rem;
$h1-title: 4rem;

$fonts: (
  // A - Font weight
  regular: 400,
  bold: 700,
  // B - Font size
  h1: pixel(32),
  h1-desktop: pixel(34),
  h2: pixel(30),
  h2-desktop: pixel(32),
  h3: pixel(26),
  h3-desktop: pixel(28),
  h4: pixel(22),
  h4-desktop: pixel(26),
  h5: pixel(20),
  h5-desktop: pixel(24),
  h6: pixel(18),
  h6-desktop: pixel(20),
  text: 1rem,
  text-desktop: 1rem
);

// Responsive spacing
$wrapper-padding: (
  null: 1rem,
  $tiny_width: 2rem,
  $mobile_width: 3rem,
  $tablet_width: 5rem,
  $desktop_width: 6rem,
);

$vertical-padding-regular: (
  null: 1rem,
  $tiny_width: 2rem,
  $mobile_width: 3rem,
  $tablet_width: 5rem,
  $desktop_width: 6rem,
);

$vertical-padding-small: (
  null: 1rem,
  $tiny_width: 2rem,
  $mobile_width: 2rem,
  $tablet_width: 2.5rem,
  $desktop_width: 3rem,
);

$single-column: 4rem;
