/*
Theme Name: theme NNR
Theme URI: https://ihaveagreen.fr
Author: NNR
Author URI: https://ihaveagreen.fr
Description: theme NNR
Version: 1.0
*/

// @import "node_modules/node-normalize-scss/normalize";
// @import "sass/mixins";
@import "sass/variables2";
// @import "sass/fontface";
// @import "sass/global";
// @import "sass/print";
// @import "sass/deco";

// @import "sass/site/site";
// @import "sass/form/form";
// @import "sass/template/template";
// @import "sass/block/block";
// @import "sass/archive/archive";

// COLOR CHANGING

body {
    background-color: $bg-color;
}

//déco
.title__content {
    svg {
        .cls-1 {
            fill: $cta-color;
        }
    }
}

.decoration__n,
.decoration__r {
    .cls-1 {
        fill: $cta-color;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border: 2px solid $cta-color;
    &:focus {
        border: 2px solid $cta-color;
    }
}

#form-filter,
#form-filter-user {
    select {
        border-bottom: 4px solid $cta-color;
    }
}

.button {
    border: 2px solid $cta-color;
    background-color: $cta-color;
    &:hover,
    &:focus,
    &:active {
        background-color: lighten($cta-color, 10);
    }
}

.button-cta {
    border: 1px solid $cta-color;
    background-color: $cta-color;
    &:hover,
    &:focus {
        background-color: lighten($cta-color, 10);
    }
    &:active {
        background-color: $cta-color;
    }
}

#footer {
    background: $cta-color;
}
.footer__before {
    background: lighten($cta-color, 10);
}

#topbar {
    .current-menu-item > a {
        border-bottom: $cta-color 2px solid;
    }
    @media screen and (max-width: 67.5rem - 0.01rem) {
        #menu {
            .menu__background {
                background: lighten($cta-color, 8);
            }
        }
    }
    @media screen and (min-width: 67.5rem) {
        ul.primary {
            > li {
                a {
                    background: linear-gradient(to bottom, $cta-color 0%, $cta-color 100%);
                    background-position: 0 100%;
                    background-repeat: repeat-x;
                    background-size: 0px 4px;
                    &:hover {
                        background-size: 4px 20px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 67.5rem) {
        ul.primary {
            > li {
                a {
                    &:hover {
                        color: rgb(255, 94, 0);
                    }
                }
            }
        }
    }
}
#archive-listing-resources {
    .display-grid {
        .article-resource {
            .button_resources {
                a {
                    background: linear-gradient(to bottom, $cta-color 0%, $cta-color 100%);
                    background-position: 0 100%;
                    background-repeat: repeat-x;
                    background-size: 0px 4px;
                    &:hover {
                        background-size: 4px 13px;
                    }
                }
            }
        }
    }
}
