/*
Theme Name: theme NNR
Theme URI: https://ihaveagreen.fr
Author: NNR
Author URI: https://ihaveagreen.fr
Description: theme NNR
Version: 1.0
*/
body {
  background-color: #eeeeff;
}

.title__content svg .cls-1 {
  fill: #a6afff;
}

.decoration__n .cls-1,
.decoration__r .cls-1 {
  fill: #a6afff;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border: 2px solid #a6afff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  border: 2px solid #a6afff;
}

#form-filter select,
#form-filter-user select {
  border-bottom: 4px solid #a6afff;
}

.button {
  border: 2px solid #a6afff;
  background-color: #a6afff;
}

.button:hover, .button:focus, .button:active {
  background-color: #d9ddff;
}

.button-cta {
  border: 1px solid #a6afff;
  background-color: #a6afff;
}

.button-cta:hover, .button-cta:focus {
  background-color: #d9ddff;
}

.button-cta:active {
  background-color: #a6afff;
}

#footer {
  background: #a6afff;
}

.footer__before {
  background: #d9ddff;
}

#topbar .current-menu-item > a {
  border-bottom: #a6afff 2px solid;
}

@media screen and (max-width: 67.49rem) {
  #topbar #menu .menu__background {
    background: #cfd4ff;
  }
}

@media screen and (min-width: 67.5rem) {
  #topbar ul.primary > li a {
    background: linear-gradient(to bottom, #a6afff 0%, #a6afff 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 4px;
  }
  #topbar ul.primary > li a:hover {
    background-size: 4px 20px;
  }
}

@media screen and (max-width: 67.5rem) {
  #topbar ul.primary > li a:hover {
    color: #ff5e00;
  }
}

#archive-listing-resources .display-grid .article-resource .button_resources a {
  background: linear-gradient(to bottom, #a6afff 0%, #a6afff 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px 4px;
}

#archive-listing-resources .display-grid .article-resource .button_resources a:hover {
  background-size: 4px 13px;
}
