/*

Style content [#content]

File structure :
0 - Content Settings
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/

/* 0 - Content settings
------------------ */
#content {
  padding-bottom: 4rem;
  position: relative;
  padding-top: 20rem;
  overflow: hidden;
  @media screen and (max-width: $tablet-width) {
    padding-top: 10rem;
  }
}

/* 1 - Wrapper settings
------------------ */

//1.1 : Wrapper (horizontal padding)
@mixin wrapper {
  width: 100%;
  box-sizing: border-box;
  max-width: $wrapper;
  > img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}
.wrapper {
  @include wrapper;
}

//1.2 : Narrow-wrapper
@mixin narrow-wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $wrapper-padding);
  @include spacing(padding-right, $wrapper-padding);
  max-width: $narrow-wrapper;
}

.narrow-wrapper {
  @include narrow-wrapper;
}

/* 2 - Vertical Rythm 
------------------ */

//2.1 : Vertical Padding Regular
@mixin v-padding-regular {
  @include spacing(padding-top, $vertical-padding-regular);
  @include spacing(padding-bottom, $vertical-padding-regular);
}

.v-padding-regular {
  @include v-padding-regular;
}

//2.2 : Vertical Padding Small
@mixin v-padding-small {
  @include spacing(padding-top, $vertical-padding-small);
  @include spacing(padding-bottom, $vertical-padding-small);
}

.v-padding-small {
  @include v-padding-small;
}

/* 3 - Link
------------------ */

// 3.1 - Link-default (not for blue or red background)
@mixin link-default {
  transition: 0.2s color;
  color: inherit;
  &:link,
  &:visited {
    color: inherit;
  }
  &:hover,
  &:focus,
  &:focus-within {
    color: $color-primary;
  }
  &:active {
    color: $color-secondary;
  }
}
.link-default {
  @include link-default;
}

// 3.2 - Link Primary
@mixin link-primary {
  font-family: "Hind M", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  transition: 0.2s color;
  color: $cta-txt;
  &:link,
  &:visited {
    color: $cta-txt;
  }
  &:hover,
  &:focus,
  &:focus-within {
    color: darken($cta-txt, 20);
  }
  &:active {
    color: darken($cta-txt, 10);
  }
}
a.link-primary {
  @include link-primary;
}

// 3.3 - Button primary
@mixin button {
  @media screen and (max-width: $mobile-width) {
    font-size: 1rem;
  }
  @include link-primary;
  line-height: 1.5;
  display: inline-block;
  text-decoration: none;
  //@include font(text, regular);
  border: 2px solid $cta-color;
  background-color: $cta-color;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  transition: all 0.2s;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($cta-color, 10);
  }
}

.button {
  @include button;
}

// 3.4 - Button ghost
@mixin button-ghost {
  text-decoration: none;
  color: inherit;
  border: 1px solid currentColor;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  transition: all 0.2s;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $color-primary;
  }
}
.button-ghost {
  @include button-ghost;
}

// 3.5 - Button cta
@mixin button-cta {
  text-decoration: none;
  color: $cta-txt;
  border: 1px solid $cta-color;
  background-color: $cta-color;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  transition: all 0.2s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: lighten($cta-color, 10);
  }
  &:active {
    background-color: $cta-color;
  }
}
.button-cta {
  @include button-cta;
}
// 3.6 - Social Icons
// Used in footer and post-infos
@mixin link-icon {
  transition: background-color 0.2s;
  &:link,
  &:visited {
    background: transparent;
  }
  &:hover,
  &:focus {
    background: $color-primary;
  }
  &:active {
    background: $color-secondary;
  }
}

/* 4 - Entry Content
----------------- */

// 4.1 - Entry-content global
@mixin entry-content {
  font-size: inherit;
  color: inherit;
  line-height: $lh-standard;
  @include no-useless-margin;

  ul,
  ol {
    @include entry-content-list;
  }

  ol {
    @include entry-content-ol;
  }

  a {
    @include link-default;
  }

  blockquote {
    margin: 4rem auto;
    @include entry-content-blockquote;
  }

  @include no-useless-margin;
}

// 4.2 - No useless margin
@mixin no-useless-margin {
  > * {
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

// 4.3 - Entry-content blockquote
@mixin entry-content-blockquote {
  padding: 1rem 0 1rem 2rem; // top right bottom left
  border-left: 2px solid $color-primary;
  @include no-useless-margin;
  // same style as lead-paragraph
  //@include font(text, regular, lead-paragraph);
}

// 4.4 - Entry-content : List style (ul + ol)
@mixin entry-content-list {
  margin: 2rem auto;
  //padding: 0 0 0 2em; // t r b l
  li {
    margin-bottom: 0.5em;
    list-style: square inside;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// 4.5 - Entry-content : List varaint (ol only)
@mixin entry-content-ol {
  li {
    list-style: decimal inside;
  }
}

.entry-content {
  @include entry-content;
}

// 5.1 : Video Button
.btn-modale {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  position: relative;
  transition: all 0.2s;

  // 5.1 : Video thumbnail size
  img,
  picture,
  figure {
    line-height: 1;
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    opacity: 1;
    transition: opacity 0.2s;
  }

  // 5.2 : Video icon
  &:not(.no-player):after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 2px solid white;
    background: url(./image/player.svg) center center no-repeat;
    background-color: transparent;
    opacity: 1;
    transition: all 0.2s;
  }
}

// 5.3 - Interactivity
.btn-modale {
  &:link,
  &:visited {
    //
  }

  &:hover,
  &:focus,
  &:active {
    // Icon changes
    &::after {
      background-color: $color-primary;
      border-color: $color-primary;
    }
    // Thumbnail changes
    img,
    picture,
    figure {
      opacity: 0.5;
    }
  }
}
