/*

Style Footer [footer.php]

File structure :
0 - Footer Style
------------------
1 - Footer layout
    1.1 Layout Mobile
    1.2 Layout Desktop
------------------
2 - Logo + social
    2.1 - Logo
    2.2 - Social Icons
------------------
3 - Custom Menu
    3.1 Links Listing
------------------
4 - Content


*/
/*0 - Footer style
------------------ */
#footer {
    background: $cta-color;
}
.footer__before {
    margin: 0 auto;
    padding: 4rem 0 5rem 0;
    background: lighten($cta-color, 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
        max-width: 100%;
        text-align: center;
        width: 100%;
    }
    .footer__slack,
    .footer__newsletter {
        margin: 0 5rem;
        max-width: 37.5rem;
        width: 100%;
        @media screen and (max-width: $tablet_width) {
            margin: 0;
            padding: 1rem 0;
            h3 {
                margin: 0.5rem 0;
            }
        }
        @media screen and (max-width: $mobile_width) {
            margin: 0;
            padding: 1rem 0;
            max-width: 90%;
            width: 100%;
            h3 {
                margin: 0.5rem 0;
            }
        }
    }
    .footer__newsletter {
        display: flex;
        flex-direction: column;
        label {
            margin: 0;
        }
        .ResponseMessageNewsletter {
            opacity: 0;
            @media screen and (max-width: $mobile_width) {
                margin: 0 auto;
            }
        }
        .showResponseMessage {
            opacity: 1;
            transition: all 0.4s ease-in-out;
        }

        .footer__email-input {
            opacity: 1;
            height: 50px;
            display: flex;
            transition: all 0.3s ease-in-out;
            @media screen and (max-width: $mobile_width) {
                margin-top: 2rem;
            }
            &.newsletterDisapear {
                height: 0;
                opacity: 0;
            }
            input[type="submit"] {
                margin: 0;
                @media screen and (max-width: $mobile_width) {
                    margin: 1rem auto;
                }
            }
            #emailNewsletter {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                min-width: 20rem;
                @media screen and (max-width: $mobile_width) {
                    min-width: 0;
                }
            }

            .button {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
            @media screen and (max-width: $mobile_width) {
                flex-direction: column;
                justify-content: center;
                input {
                    border-radius: 4px;
                    min-width: auto;
                }
                .button {
                    border-radius: 0.5rem;
                    max-width: 10rem;
                    margin: 1rem auto;
                }
            }
        }
    }
}
/*1 - Footer layout
------------------ */
#footer {
    @include spacing(padding-left, $wrapper-padding);
    @include spacing(padding-right, $wrapper-padding);
    // > div {
    //     // 1.1 Layout Mobile
    //     display: grid;
    //     //@include gutter;
    //     grid-column-gap: 2.5rem;
    //     grid-row-gap: 4rem;
    //     grid-auto-columns: 1fr;
    //     grid-template:
    //         "logo"
    //         "menu"
    //         "content";
    //     // 1.2 Layout Desktop
    //     @media screen and (min-width: $tablet_width) {
    //         grid-auto-columns: 1fr 1fr;
    //         grid-template:
    //             "logo       menu"
    //             "content    content";
    //     }
    // }

    /* 2 - Logo + social
    ------------------ */
    .footer-logo {
        grid-area: logo;
        a {
            text-decoration: none;
            @include link-default;
        }
        // 2.1 - Logo
        #footer-link {
            > * {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 0rem;
            }
            > img {
                width: 3rem;
                height: auto;
                margin-right: 1rem;
            }
        }

        // 2.2 - Social Icons
        .footer-social {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            a {
                text-align: center;
                display: inline-block;
                line-height: 0;
                color: #1b1b1e;
                margin: 5rem 1.5rem;
                font-size: 1.75rem;
                font-family: "Hind R", Arial, Helvetica, sans-serif;
                &:hover {
                    text-decoration: underline;
                }
                @media screen and (max-width: $mobile_width) {
                    width: 100%;
                    margin: 2rem 0.5rem;
                }
            }
        }
    }

    /* 3 - Custom Menu
    ------------------ */
    #footer-menu {
        grid-area: menu;
        a {
            text-decoration: none;
        }
        // 3.1 Links Listing
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: grid;
            @include spacing(grid-column-gap, $grid-column-gap);
            row-gap: 1rem;
            grid-template-columns: 1fr;
            @media screen and (min-width: $mobile_width) {
                grid-template-columns: 1fr 1fr;
            }
            li {
                margin: 0;
                padding: 0;
                > a {
                    display: inline-block;
                }
            }
        }
    }

    /* 4 - Content
    ------------------ */

    #footer-content {
        grid-area: content;
        > * {
            @include font(text, regular);
            margin-bottom: 4rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        a {
            @include link-default;
        }
    }
}

/* To footer element in contact page
    ------------------ */
.footer-logo {
    grid-area: logo;
    a {
        text-decoration: none;
        @include link-default;
    }
    // 2.1 - Logo
    #footer-link {
        > * {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0rem;
        }
        > img {
            width: 3rem;
            height: auto;
            margin-right: 1rem;
        }
    }

    .footer-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        a {
            text-align: center;
            display: inline-block;
            line-height: 0;
            color: #1b1b1e;
            margin: 5rem 1.5rem;
            font-size: 1.75rem;
            font-family: "Hind R", Arial, Helvetica, sans-serif;
            &:hover {
                text-decoration: underline;
            }
            @media screen and (max-width: $mobile_width) {
                width: 100%;
                margin: 2rem 0.5rem;
            }
        }
    }
}

/* 3 - Custom Menu
    ------------------ */
#footer-menu {
    grid-area: menu;
    a {
        text-decoration: none;
    }
    // 3.1 Links Listing
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        @include spacing(grid-column-gap, $grid-column-gap);
        row-gap: 1rem;
        grid-template-columns: 1fr;
        @media screen and (min-width: $mobile_width) {
            grid-template-columns: 1fr 1fr;
        }
        li {
            margin: 0;
            padding: 0;
            > a {
                display: inline-block;
            }
        }
    }
}
