/*

Style Topbar [header.php]

File structure :
------------------
1 - Topbar settings
------------------
2 - Mobile Menu
    2.1 : Menu Layout : hidden
    2.2. Menu layout : visible
    2.3 : Links Style
    2.4 : Close button
    2.5 : Burger button
------------------
3 - Menu Desktop
  3.1 - Menu Layout
  3.2 - Links style
------------------
4 - x

*/

/* 1 - Topbar settings
------------------ */

/* Title bloc design */
.title__container {
	width: 100%;
	@media screen and (max-width: $mobile-width) {
	}
	h1,
	h2 {
		font-size: 4rem;
		margin: 1rem 0 2rem 0;
		@media screen and (max-width: $tablet-width) {
			font-size: 3.5rem;
		}
		@media screen and (max-width: $mobile-width) {
			font-size: 3rem;
		}
	}
	svg {
		margin: 1rem 0 2rem 1.5rem;
		@media screen and (max-width: $mobile-width) {
			display: none;
		}
	}
}

.title__content {
	display: flex;
	align-items: center;
	margin: 0;
	h2 {
		font-size: 3rem;
	}
	svg {
		max-width: 11rem;
		margin-left: 1.5rem;
		@media screen and (max-width: $mobile-width) {
			display: none;
		}
	}
}
.contact-header {
	width: 100%;
	max-width: 50rem;
	margin: 0 auto;
	@media screen and (max-width: $tablet-width) {
		width: 90%;
		max-width: none;
	}
}

main {
	max-width: 1500px;
	width: 90%;
	margin: 0 auto;
}

#topbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	z-index: $index-navigation;
	transition: all 0.4s;
	// 1.1 - Topbar Style
	padding: 4rem 5%;
	@media screen and (max-width: $mobile-width) {
		padding: 2rem 5%;
	}
	// 1.2 - logo Style
	#topbar-logo {
		> * {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			@include font(text, bold);
			&:nth-child(2) {
				margin-left: 0.5rem;
			}
		}

		> svg {
			width: 6rem;
		}
	}

	// 1.3 - Links style
	ul.primary {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		@include link-default;
		text-decoration: none;
	}
	.current-menu-item > a {
		border-bottom: $cta-color 2px solid;
	}

	/* 2 -  Mobile Menu
    ------------------ */
	@media screen and (max-width: $tablet-width - 0.01rem) {
		// 2.1 : Menu Layout : hidden
		#menu {
			.menu__background {
				filter: blur(5px);
				left: 100%;
				top: 0;
				position: fixed;
				width: 65vw;
				height: 100vh;
				background: lighten($cta-color, 8);
				transition: all 0.4s;
			}
			#close-menu,
			ul.primary {
				text-align: end;
				top: 0;
				height: 90vh;
				max-width: 100vw;
				opacity: 0.5;
				transition: all 0.4s;
				margin: 0;
				li {
					font-size: 1rem;
					color: $cta-txt;
				}
			}

			// 2.2. Menu layout : visible
			&:focus,
			&.menu-open {
				.menu__background {
					transform: translate(-100%, 0%);
					filter: none;
				}
				overflow: visible;
				#close-menu,
				ul.primary {
					opacity: 1;
					transform: translate(0%, 0%);
				}
			}

			// 2.3 : Links Style
			ul.primary {
				// Layout
				top: 10vh;
				&:focus,
				&:focus-within {
					opacity: 1;
				}
				// Style
				@include spacing(padding, $wrapper-padding);
				box-sizing: border-box;
				li {
					margin-bottom: 1rem;
					font-size: 2.5rem;
					@media screen and (max-width: $mobile-width) {
						font-size: 1.5rem;
					}
				}
			}

			// 2.4 : Close button
			#close-menu {
				height: 10vh;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				// Style
				> button {
					line-height: 0;
					height: 2.25rem;
					width: 2.25rem;
					border-radius: 50%;
					transition: background-color 0.2s;
					&:hover,
					&:focus {
						background-color: rgba($color-primary, 0.5);
					}
					&:active {
						background-color: rgba($color-secondary, 0.5);
					}
					> img {
						object-fit: contain;
						margin: 0;
					}
				}
			}

			// 2.5 : Burger button
			#burger-menu {
				transition: background-color 0.2s;
				padding: 0.35rem 0.25rem;
				border-radius: 4px;
				line-height: 0;

				&:hover,
				&:focus {
					background-color: rgba($color-primary, 0.5);
				}
				&:active {
					background-color: rgba($color-secondary, 0.5);
				}
				> img {
					width: 100%;
					height: auto;
					margin: 0;
				}
			}
		}
	}

	/* 3 - Menu Desktop
    ------------------ */

	@media screen and (min-width: $tablet-width) {
		// 3.1 - Menu Layout
		ul.primary {
			> li {
				display: inline-block;
				margin-left: 1.5rem;
				&:nth-child(2) {
					.sub-menu {
						display: none;
					}
					&:hover {
						.sub-menu {
							display: block;
							position: absolute;
							list-style: none;
							transform: translateX(-2rem);
						}
					}
				}
				a {
					color: $txt-primary;
					font-size: 1.5rem;
					font-family: "Hind R", Arial, Helvetica, sans-serif;
					margin-left: 4rem;
					padding: 0 2px;
					background: linear-gradient(to bottom, $cta-color 0%, $cta-color 100%);
					background-position: 0 100%;
					background-repeat: repeat-x;
					background-size: 0px 4px;
					text-decoration: none;
					transition: background-size 0.2s;
					&:hover {
						background-size: 4px 20px;
					}
				}
			}
		}
		// 3.2 - Links style
	}
}
