/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Form Layout
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/

// 1 - form Layout
#content {
	.contact__social {
		a {
			margin: 2rem 1.5rem 3rem 1.5rem;
		}
	}
}

#contactForm {
	padding: 0;
	max-width: 50rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-gap: 2rem;

	span {
		color: #bd2b2b;
	}
	.checkbox > #ResponseAnchor {
		display: block;
		text-align: center;
	}

	div {
	}
	@media screen and (max-width: $tablet-width) {
		max-width: none;
		width: 90%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(6, auto);
		grid-gap: 1rem;
	}
}
label:not(.checkbox__label) {
	margin-top: 1.5rem;
	color: $txt-primary;
	font-family: "Merri R", "Times New Roman", Times, serif;
	font-size: 1rem;
}
.email {
	grid-column: 1/3;
	grid-row: 2/3;
	@media screen and (max-width: $tablet-width) {
		grid-column: 1/3;
	}
}
.tel {
	grid-column: 3/4;
	grid-row: 1/2;
	@media screen and (max-width: $tablet-width) {
		grid-column: 2/3;
		grid-row: 3/4;
	}
}
.message {
	grid-column: 1/4;
	grid-row: 3/4;
	@media screen and (max-width: $tablet-width) {
		grid-column: 1/3;
		grid-row: 4/5;
	}
}

.checkbox {
	grid-column: 1/4;
	display: flex;
	align-items: flex-start;
	flex-flow: row nowrap;
	margin-top: 2rem;
	> label {
		margin-top: 0;
		margin-left: 1rem;
	}
	> input {
		margin-top: 0.5rem;
	}
	@media screen and (max-width: $tablet-width) {
		grid-column: 1/3;
		grid-row: 5/6;
	}
}

// 2 - Input Style
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 2px solid $cta-color;
	box-shadow: none;
	border-radius: 4px;
	padding: 0.5rem;
	width: calc(100% - 1rem - 2px);
	transition: all 0.2s;
	&::placeholder {
		color: $txt-primary;
		font-family: "Merri R", "Times New Roman", Times, serif;
		font-size: 1rem;
		opacity: 0.5;
		transition: all 0.2s;
	}
	&:not(:placeholder-shown) {
		background-color: $white;
		&:invalid {
			color: #8d1e1e;
			border-color: #bd2b2b;
		}
		&:not(:invalid) {
			color: #228d1e;
			border-color: #30bd2b;
		}
	}
	/*
    &:invalid {
        &:not(:focus),
        &:not(:placeholder)  {
            color: $red;
            border-color: $red;
        }
    }
    */
	&:hover {
	}
	&:focus {
		background-color: $white;
		color: $color-primary;
		border: 2px solid $cta-color;
		&::placeholder {
			opacity: 0.25;
		}
	}
}

// 2.1 - Submit
// input[type="submit"] {
// 	margin-top: 2rem;
// 	@include button-cta;
// 	border: none;
// 	outline: none;
// 	border: none;
// 	box-shadow: none;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// 2.2 - Checkbox (RGPD)

// 2.3 - Message de validation
#ResponseAnchor {
	// Default state : input button is visible
	grid-column: 2/3;
	@media screen and (max-width: $tablet-width) {
		grid-column: 1/3;
	}
	* {
		opacity: 1;
		transition: all 0.2s;
	}
	#ResponseMessage {
		opacity: 0;
	}
	// Message has been sent : #responseMessage is visible
	&.messageSent {
		* {
			opacity: 0;
		}
		#ResponseMessage {
			opacity: 1;
			transition-delay: 0.5s;
		}
	}
}

/* form */
#form-filter,
#form-filter-user {
	display: block;
	padding: 0;
	margin: 0 auto 4rem auto;
	max-width: 100%;
	width: 100%;
	select {
		background: transparent;
		border-radius: 0;
		border: none;
		border-bottom: 4px solid $cta-color;
		font-size: 1.5rem;
		color: $txt-primary;
	}
}
