.post-share {
    text-align: center;
    color: $gray-medium;
    img {
        filter: invert(1);
        margin: 0;
        opacity: 0.5;
    }
    > * {
        display: inline-block;
        margin-right: 0.25rem;
        vertical-align: middle;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
    > a,
    > .copyLink {
        @include link-icon;
        text-decoration: none;
        line-height: 0;
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
            img {
                filter: invert(0);
            }
        }
    }
    .copyLink {
        //position: relative;
        &.active img {
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
        }
        // input {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     transform: translate(-200%, 0%);
        // }
    }
}

.single #raw-content {
    border-top: 2px solid $gray-light;
    border-bottom: 2px solid $gray-light;
}
