/*

Page title + Lead-parapgrah : 
c'est compliqué, y a surement moyen de faire quelque chose de plus efficace.

En attendant, je bidouille ça :

*/

.page-title {
    @include spacing(padding-left, $wrapper-padding);
    @include spacing(padding-right, $wrapper-padding);

    > h1 {
        // Le titre de la page a toujours un margin-top;
        @include spacing(margin-top, $vertical-padding-regular);
        max-width: $narrow-wrapper;
        margin-left: auto;
        margin-right: auto;
    }
}

// Par défaut, le bloc Lead-paragraph a toujours padding-top et padding-bottom;
.blk-lead {
    @include spacing(padding-top, $vertical-padding-regular);
    @include spacing(padding-bottom, $vertical-padding-regular);
    > div {
        max-width: $narrow-wrapper;
        margin-left: auto;
        margin-right: auto;
    }
}

#raw-content > .blk-lead:first-child {
    // Si le bloc lead-paragraphe est en début de page, il n'a pas pas de padding-top.
    // ça donne l'impression qu'il fait partie du même block que le titre de la page
    padding-top: 0;
}

.page-title + .post-info {
    // Sur une page single, les infos de l'article jouent le même rôle que lead-paragraph
    padding-top: 0;
}

.page-title + .archive-info {
    // Sur une page d'archive , la description de l'archive jouent le même rôle que lead-paragraph
    @include spacing(margin-bottom, $vertical-padding-regular);
}
#raw-content {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 1440px) {
        grid-template-columns: 1fr;
    }
    .blk-video,
    .posts__list-block,
    .custom-title,
    .title-text,
    .title__container,
    #nav-breadcrumbs,
    .member__container {
        grid-column: 1/3;
    }
    @media screen and (max-width: 1440px) {
        .meetup__block,
        .discover__block {
            grid-column: 1/3;
            margin: 10rem auto 0 auto;
        }
    }
}
