.wrapper-grid-list {
	width: 100%;
	max-width: 100%;
	@media screen and (max-width: $tablet-width) {
		max-width: 100%;
		margin: 0 auto;
	}
	.grid-post {
		#more_post,
		#more_resource {
			margin: 0 auto;
			width: auto;
			display: block;
		}
		.display-grid {
			.thumbnail {
				aspect-ratio: 16 / 9;
			}
			@media screen and (max-width: $tablet-width) {
				grid-template-columns: 1fr;
				grid-gap: 1rem;
				margin: 2rem 0;
				.thumbnail {
					max-height: none;
				}
				img {
					max-height: none;
				}
			}
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 4rem;
			margin: 0;
			a.h6-like {
				margin-bottom: 0.75rem;
				font-size: 1.5rem;
				min-height: 56px;
			}
			.article-post {
				margin: 0;
				time {
					margin-bottom: 1rem;
					font-family: "Merri R", "Times New Roman", Times, serif;
					font-size: 1rem;
					color: $txt-primary;
				}
				.button {
					order: 1;
					margin: 0;
				}
			}
		}
	}
}
