#content {
	> .article-resource {
		max-width: 600px;
		@media screen and (max-width: $mobile-width) {
			max-width: 90%;
		}
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		h2 {
			font-size: 3rem;
			margin: 1rem 0;
			padding: 0;
			@media screen and (max-width: $mobile-width) {
				font-size: 2rem;
			}
		}
		fieldset {
			margin: 1rem 0;
			padding: 1rem;
		}
	}
}

#archive-listing-resources {
	.display-grid {
		.article-resource {
			//border: 2px $txt-primary solid;
			padding: 1.5rem;
			position: relative;
			border-bottom: 3px black solid;
			border-left: 3px black solid;
			time,
			.button_resources,
			.ressource__type {
				margin: 0.75rem 0;
			}
			svg {
				margin-bottom: 0;
				z-index: -1;
				position: absolute;
				&.horizontal {
					height: 3px;
					width: calc(100% - 50px);
					left: 0;
					top: 0;
				}
				&.vertical {
					width: 3px;
					height: calc(100% - 50px);
					right: 0;
					bottom: 0;
				}
			}
			img {
				position: absolute;
				top: -0.75rem;
				right: -0.75rem;
				margin-bottom: 0;
			}
			.ressource-title {
				font-size: 1.75rem;
				margin: 0;
				min-height: 0;
			}
			.button_link,
			.button_video,
			.button_document {
				text-align: start;
				text-decoration: underline;
				color: $txt-primary;
				font-size: 1.25rem;
				width: 100%;
			}
			.button_resources {
				a {
					color: $txt-primary;
					background: linear-gradient(to bottom, $cta-color 0%, $cta-color 100%);
					background-position: 0 100%;
					background-repeat: repeat-x;
					background-size: 0px 4px;
					text-decoration: none;
					transition: background-size 0.2s;
					&:hover {
						background-size: 4px 13px;
					}
				}
			}
		}
	}
}
