/*

For member list & soloMember

*/
#archive-listing-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        flex: none;
    }
    > div {
        width: 100%;
        grid-gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, 210px);
        margin: 0 auto;
        @media screen and (max-width: $mobile_width) {
            grid-template-columns: repeat(2, auto);
        }
    }
    a {
        text-decoration: none;
    }
    .userCard {
        width: 100%;
        min-width: 210px;
        @media screen and (max-width: $mobile_width) {
            min-width: 0;
        }
        p {
            color: $txt-primary;
            &:nth-child(2) {
                font-family: "Hind B", Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
                margin: 0;
                margin-top: 0.5rem;
            }
            &:nth-last-child(1) {
                font-family: "Merri R", Georgia, "Times New Roman", Times, serif;
                font-size: 1rem;
                margin: 0;
            }
        }
        .iconContainer {
            width: 100%;
            height: 210px;
            @media screen and (max-width: $mobile_width) {
                height: auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                border: 2px solid $txt-primary;
            }
        }
    }
}

.soloMember {
    margin: 0 auto;
    max-width: 90%;
    h2 {
        font-family: "Hind B", Arial, Helvetica, sans-serif;
        font-size: 4rem;
        margin: 2rem 0;
    }
    .imgMember {
        width: 300px;
        height: 300px;
        flex: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border: 2px solid $txt-primary;
        }
    }
    .containerMember {
        display: flex;
        flex-wrap: nowrap;
        @media screen and (max-width: $tablet_width) {
            flex-direction: column;
        }
        .memberText {
            margin: 0 2rem;
            max-width: 37.5rem;
            @media screen and (max-width: $tablet_width) {
                margin: 0;
                margin-top: 2rem;
            }
            p:nth-child(1) {
                font-family: "Hind B", Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
                margin: 0;
            }
            p:nth-child(2) {
                //paragraph
            }
        }
    }
    .contactMember {
        max-width: 300px;
        margin-top: 1rem;
        a {
            text-decoration: none;
            margin: 1rem;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
