/*

Gutenberg Core blocks

File structure :
------------------
0 - Select Core Blosks 
------------------
1 - Text
    1.1 - Paragraph
    1.2 - Title
    1.3 - List
    1.4 - Blockquote
------------------
2 - Picture
    2.1 - Image
    2.2 - Figure

*/

// 0 - Select Core Blocks
// We select elements placed directly in the page content
#raw-content {

    /* 1 - Text
    ------------------*/
    // 1.0 - ALL
    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6, 
    > ul, 
    > ol,
    > blockquote,
    > hr {
        @include narrow-wrapper;
        &:first-child {
            margin-top: 4rem;
        }
        &:last-child {
            margin-bottom: 4rem;
        }
    }
    // 1.1 - Paragraph
    > p {
        @include entry-content;
    }
    // 1.3 - List 
    //List have the same style as in .entry-content element [see content.scss]
    > ul, 
    > ol {
        @include entry-content-list;
    }

    > ol {
        @include entry-content-ol;
    }

    // 1.4 - Blockquote
    > blockquote {
        margin: 4rem auto;
        > * {
            @include entry-content-blockquote;
        }
        > cite {
            color: $gray-medium;
            // @include font(text, regular, body);
        }
      }

    /* 2 - Picture
    ------------------*/

    //2.1 - Image
    > img {
        max-width: 100%;
        height: auto;
        margin: 2rem auto;
    }
    //2.2 - Figure
    > figure {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        @include wrapper;
        @include v-padding-regular;
        > * {
            max-width: 100%;
            height: auto;
            //@include blocked-wrapper;
        }
        > figcaption {
            margin-top: 2rem;
            text-align: center;
        }
    }

    /* 3 - Entry-content
    ---------------- */
    > .entry-content {
        margin-top: 1rem;
        max-width: 37.5rem;
        font-size: 1.25rem;
    }
    .custom-title + .entry-content {
        margin-top: 0;
        @include spacing(margin-bottom, $vertical-padding-small);
    }
}