/*

Style Gutenberg Block Découvrir - accueil [evenement.php]

File structure :
------------------
1 - 
------------------
2 - 

*/
.discover__block {
    margin-top: 10rem;
    margin-left: auto;
    max-width: 42rem;
    width: 100%;
    @media screen and (max-width: $mobile_width) {
        margin: 5rem auto 0 auto;
    }
}
.content {
    display: flex;
    @media screen and (max-width: $mobile-width + 1rem) {
        flex-direction: column;
    }
    .solo {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: $mobile-width + 1rem) {
            margin: 1rem 0;
        }
        &:nth-child(2) {
            @media screen and (max-width: $mobile-width + 1rem) {
                margin: 1rem 0;
            }
        }
        .icon {
            max-height: 70px;
            img {
                height: 100%;
                width: auto;
                @media screen and (max-width: $mobile-width + 1rem) {
                    height: 70px;
                    width: auto;
                }
            }
        }
        p {
            font-family: "Hind B", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-size: 1.5rem;
        }
    }
}
