/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------
2 - Layout Variant : image

*/

// 1 - Bloc layout
.blk-event > div {
    
    //1.1 - All children
    > * {
        margin-bottom: 1rem;
    }
    // 1.2 - Time
    .event-info > * {
        display: inline;
    }
    // 1.3 - Button
    > a {
        margin-top: 2rem;
    }

    // 2 - Layout Variant : image
    &.has-image {
        display: grid;
        justify-items: left;
        grid-template-areas:    "hook"
                                "title"
                                "info"
                                "content"
                                "image"
                                "button";

        @media screen and (min-width: $tablet_width) {
            grid-column-gap : $single-column;
            grid-auto-columns: 1fr 16rem;
            grid-template-areas:    
            "hook   image"
            "title  image"
            "info   image"
            "content image"
            "button image";
        }

        > h3 {
            grid-area: hook;
        }

        > h2 {
            grid-area: title;
        }

        > .event-info {
            grid-area: info;
        }

        > .entry-content {
            grid-area: content;
        }
    
        > .image-container {
            grid-area: image;
            max-width: 16rem;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        > a {
            grid-area: button;
        }
    }

}