/*

Style Gutenberg Block Header Home [bloc-accueil.php]

File structure :
------------------
1 - Bloc layout
    1.1 Layout Mobile
    1.2 Layout Desktop
------------------
2 - Elements Style
    2.1 - Title
    2.2 - Description
    2.3 - Video
    2.4 - Link

*/

// 1 - Bloc layout
.blk-header-home>div {
    display: grid;
    justify-items: left;
    //1.1 Layout Mobile
    grid-template-areas: "title" "content" "link" "video";
    //1.2 Layout Desktop  
    @media screen and (min-width: $tablet_width) {
        grid-auto-columns: 1fr 1fr;
        @include spacing(grid-column-gap, $grid-column-gap);
        grid-template-areas: "title      video" "content    video" "link       video";
    }
    // 2 - Elements Style
    //2.1 - Title
    >h1 {
        grid-area: title;
    }
    //2.2 - Description
    >.entry-content {
        grid-area: content;
    }
    // 2.3 - Video
    >.embed-container {
        grid-area: video;
        justify-self: stretch;
        transition: all .2s;
        iframe {
            width: 100%;
            max-width: 100%;
        }
    }
    // 2.4 - Link
    >a {
        grid-area: link;
        @media screen and (min-width: $tablet_width) {
            margin-bottom: 0;
        }
    }
    >* {
        margin-bottom: 2rem;
    }
}