/*

Style Gutenberg Block Learn [accueil-se-former.php]

File structure :
------------------
1 - Bloc layout
    1.1 - wrapper 1
    1.2 - wrapper 2

*/

// 1 - Bloc layout
.blk-learn {

    // 1.1 - wrapper 1
    > div:first-of-type {
        margin-bottom: 2rem;
    }
    // 1.2 - wrapper 2
    > div:last-of-type {
        >nav {
            margin-top: -1rem;
        }
    }
}