/*

Style Gutenberg Block Meetup [next-meetup.php]

File structure :
------------------
1 - Bloc layout
    1.1 - 
    1.2 - 
    1.3 - 
------------------
*/

// Bloc layout
.meetup__block {
  max-width: 42rem;
  width: 100%;
  margin-top: 10rem;
  @media screen and (max-width: $mobile_width) {
    margin: 5rem auto 0 auto;
  }
}
.meetup-section {
  display: flex;
  @media screen and (max-width: $mobile_width) {
    flex-direction: column;
  }
  .meetup-img {
    line-height: 0;
    max-width: 200px;
    width: 100%;
    max-height: 250px;
    @media screen and (max-width: $mobile_width) {
      max-width: none;
      max-height: none;
    }
    img {
      width: 100%;
      max-height: 250px;
      object-fit: cover;
      border-radius: 0.5em;
      @media screen and (max-width: $mobile_width) {
        max-height: none;
      }
    }
  }
  .meetup-content {
    margin-left: 1rem;
    @media screen and (max-width: $mobile_width) {
      margin: 1rem 0;
    }
    h3 {
      font-family: "Merri R", Georgia, "Times New Roman", Times, serif;
      margin: 0;
      font-size: 1.25rem;
    }
    p {
      font-size: 0.875rem;
      margin: 1rem 0 1.5rem 0;
    }
  }
}
