/*

Style Gutenberg Block Partner [partenaire.php]

File structure :
------------------
1 - Bloc layout
    1.1 - Listing
    1.2 - Single Partner
*/

// 1 - Bloc layout
.blk-member {
}

// 1.1 - Single Member
.member-single {
	display: grid;
	grid-template:
		"img    title"
		"img    text";
	column-gap: 1rem;
	margin: 1rem;
	text-align: left;

	img {
		grid-area: img;
		border-radius: 0.5rem;
	}
	h3 {
		grid-area: title;
	}
	p {
		grid-area: text;
	}

	h3,
	p {
		margin: 0;
	}
}
.member__container {
	display: grid;
	grid-gap: 3rem;
	grid-template-columns: 1fr 1fr;
	@media screen and (max-width: $tablet_width) {
		grid-template-columns: 1fr;
	}
	.member__card {
		.member__desc {
			p {
				margin: 0;
			}
		}
		.member__contact {
			img {
				max-width: 2rem;
				width: 100%;
				height: auto;
				margin-right: 1.5rem;
				margin-top: 0.5rem;
			}
		}
		.name {
			p {
				font-family: "Hind B", Arial, Helvetica, sans-serif;
				font-size: 1.5rem;
				&:nth-of-type(1) {
					margin: 0;
				}
			}
		}
		.member__image {
			img {
				width: 150px;
				height: 150px;
				border-radius: 1rem;
				object-fit: cover;
			}
		}

		display: grid;
		grid-gap: 1rem;
		grid-template-columns: auto 1fr;
		@media screen and (max-width: $mobile_width) {
			grid-template-columns: 1fr;
		}
	}
}
