.posts__list-block {
    margin: 10rem auto 0 auto;
    width: 100%;
    text-align: center;
    .posts__listing-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: $tablet_width) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $mobile_width) {
            grid-template-columns: 1fr;
        }
        grid-gap: 4rem;
        article {
            width: 100%;
            max-width: 20rem;
            text-align: left;
            a {
                width: 100%;
                img {
                    object-fit: cover;
                }
            }
            .thumbnail {
                aspect-ratio: 16 / 9;
                @media screen and (max-width: $tablet_width) {
                    max-height: none;
                }
            }

            @media screen and (max-width: $mobile_width) {
                margin: 0 auto;
            }
        }
    }
    a.button {
        margin: 1rem auto;
    }
}
