/*

Style Gutenberg Block Partner [partenaire.php]

File structure :
------------------
1 - Bloc layout
    1.1 - Listing
    1.2 - Single Partner
*/

// 1 - Bloc layout
.blk-partner {
    grid-column: 1/3;
    margin-top: 5rem;
}

// 1.1 - Listing
.basic-listing {
    /*
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .solo-partner {
        margin: 1rem 0;
        flex: 20%;
        max-width: 20%;
        max-height: 10rem;
        @media screen and (max-width: $tablet-width) {
            flex: 33.33%;
            max-width: 33.33%;
        }
        @media screen and (max-width: $mobile-width) {
            flex: 100%;
            max-width: 100%;
            max-height: none;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 50%;
                height: auto;
            }
        }
    }
}

// 1.2 - Single Partner
// .partner-single {
//     background: $gray-light;
//     padding: 0;
//     margin: 0.5rem;
//     line-height: 0;

//     // Link behaviour
//     a {
//         //line-height: 1.2;
//         transition: opacity 0.2s;
//         text-decoration: none;
//         &:link,
//         &:visited {
//             opacity: 1;
//         }
//         &:hover,
//         &:focus,
//         &:active {
//             opacity: 0.5;
//         }
//     }

//     // Image behaviour
//     img {
//         text-align: center;
//         vertical-align: middle;
//     }
// }
