/*

Style Gutenberg Block Text [texte.php]

File structure :
------------------
1 - Bloc layout

*/

.blk-text {
    max-width: 60rem;
    h2 {
        margin: 0;
        font-size: 3rem;
    }
    p {
        max-width: 37.5rem;
        font-size: 1.25rem;
    }
}

.custom-title {
    padding: 0;
    font-size: 1.5rem;
    max-width: 37.5rem;
    margin: 1.5rem auto;
}
.title-text {
    margin: 0 auto;
    max-width: 37.5rem;
    font-size: 1.125rem;
}

#raw-content {
    .title-text {
        margin: 0 auto;
        padding: 0 30%;
        width: 100%;
        font-size: 1.125rem;
        @media screen and (max-width: $tablet-width) {
            padding: 0;
        }
        p {
            text-align: justify;
            text-align-last: center;
        }
    }
    .custom-title {
        margin: 1rem auto 1rem auto;
        padding: 0;
        font-size: 4rem;
        @media screen and (max-width: $tablet_width) {
            font-size: 3rem;
        }
    }
}
.image-container {
    display: inline-block;
    max-height: none !important;
}
.entry-meta {
    margin-bottom: 2rem;
}

.post {
    margin: 0 auto;
    @media screen and (max-width: $tablet-width) {
        max-width: 90%;
    }
    div {
        a {
            text-decoration: none;
            color: $txt-primary;
            h2 {
                margin: 1rem 0;
                font-family: "Hind B", sans-serif;
                font-size: 3rem;
            }
        }
    }
}
