/*

Style Gutenberg Block Text + Image [titreTexteImage.php]

File structure :
------------------
1 - Bloc layout

*/

// 1 - Bloc layout

.blk-text-img {
max-width: 60rem;
    > div {
        display: grid;
        grid-template-areas:    
            "title"
            "content"
            "button"
            "image";
        display: grid;
        justify-items: left;
                        
        @media screen and (min-width: $tablet_width) {
            grid-column-gap : $single-column;
            grid-auto-columns: 1fr;
            grid-template-areas:    
            "title"
            "image"
            "content"
            "button";
        }

        > h2 {
            grid-area: title;
            font-size: 3rem;
        }

        > .entry-content {
            grid-area: content;
            max-width: 37.5rem;
            margin: auto;
            font-size: 1.25rem;
        }
    
        > .image-container {
            grid-area: image;
            padding-bottom: 2rem;
            max-width: 100%;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        > a {
            margin: 1rem 0 0 calc((60rem - 37.5rem) / 2);
            grid-area: button;
            @media screen and (min-width: $tablet_width) {
                margin-bottom: 0;
            }
        }   
    }
}

    // Template Variant for odd block
.blk-text-img:nth-of-type(odd)  > div  {                    
        @media screen and (min-width: $tablet_width) {
        grid-column-gap : $single-column;
        grid-auto-columns: 16rem 1fr;
        grid-template-areas:    
        "image  title"
        "image  content"
        "image  button";
    }
}