/*

Style Gutenberg Block Video [video.php]

File structure :
------------------
1 - Bloc layout
    1.1 - 
    1.2 - 
    1.3 - 
------------------
*/

// Bloc Layout
.blk-video {
    max-width: 60rem;
    margin: 10rem auto 0 auto;
    @media screen and (max-width: $mobile_width) {
        margin: 5rem auto 0 auto;
    }
    .video-section {
        .video-container {
            .btn-modale {
                width: 100%;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}
