/*

Style Archive Tools 

File structure :
------------------
1 - Image Thumbnail
------------------
2 - Article style
    2.1 Article Animation
    2.2 - Article tools
    2.3 - Article Learn
    2.4 - Article post

*/

// Image Thumbnail
.thumbnail {
  width: 100%;
  max-height: 15rem;
  overflow: hidden;
  border-radius: 4px;

  > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.2s;
  }

  &:hover,
  &:focus,
  &:active {
    > img {
      opacity: 0.75;
    }
  }
}

// 2 - Article Style

// 2.1 Article Animation
// (Infinite scroll)
.article-tools,
.article-learn,
.article-post {
  opacity: 0;
  -webkit-animation: 0.4s fadein 1 forwards;
  animation: 0.4s fadein 1 forwards;
  &:nth-of-type(even) {
    animation-delay: 0.2s;
  }
}

.article-post {
  align-items: flex-start;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
